@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bg-custom-background {
  @apply bg-cover bg-no-repeat min-h-screen;
  background-image: url('./assets/background.png');
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.circle {
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  animation: dc 1s ease-in-out;
  animation-fill-mode: forwards;
}

.tick {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
  animation: dt 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.95s;
}

@keyframes dc {
  from {
    stroke-dashoffset: 113;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dt {
  from {
    stroke-dashoffset: 35;
  }
  to {
    stroke-dashoffset: 0;
  }
}
